In [3]:
import os 
import pandas as pd 

files_path = 'task2'
list_files = os.listdir(files_path)
list_files = [file for file in list_files if file.startswith('ts_')]

time_series = []
for file_name in list_files:
    time_series.append(pd.read_csv(os.path.join(files_path, file_name)))

df_ts = pd.concat(time_series, axis=1)
df_ts.head()

,Unnamed: 0,0,Unnamed: 0,0,Unnamed: 0,0,Unnamed: 0,0,Unnamed: 0,0,...,Unnamed: 0,0,Unnamed: 0,0,Unnamed: 0,0,Unnamed: 0,0,Unnamed: 0,0
0,2017-10-15,11.222379,2017-10-15,13.197506,2018-11-10,19.015011,2017-10-15,35.592243,2017-10-15,14.066839,...,2017-10-15,11.375072,2018-06-25,75.296806,2017-10-15,11.482179,2017-11-07,0.000000,2017-10-15,30.174697
1,2017-10-16,10.428379,2017-10-16,12.445972,2018-11-11,16.118417,2017-10-16,36.653299,2017-10-16,13.273251,...,2017-10-16,10.680940,2018-06-26,74.936433,2017-10-16,10.838092,2017-11-08,0.000000,2017-10-16,77.147663
2,2017-10-17,10.087085,2017-10-17,12.146940,2018-11-12,15.804892,2017-10-17,22.915561,2017-10-17,12.932369,...,2017-10-17,10.439109,2018-06-27,73.765179,2017-10-17,10.646102,2017-11-09,0.000000,2017-10-17,59.900699
3,2017-10-18,8.253488,2017-10-18,10.355389,2018-11-13,15.750845,2017-10-18,26.841719,2017-10-18,11.099184,...,2017-10-18,8.704539,2018-06-28,74.581629,2017-10-18,8.961156,2017-11-10,0.000000,2017-10-18,58.002587
4,2017-10-19,8.113196,2017-10-19,10.256909,2018-11-14,15.746127,2017-10-19,30.287270,2017-10-19,10.959304,...,2017-10-19,8.662810,2018-06-29,73.858702,2017-10-19,8.968817,2017-11-11,1.034123,2017-10-19,77.014812

In [4]:
df = pd.read_csv(os.path.join(files_path, 'df.csv'))
df

     Unnamed: 0  product_type  own_product
0             0             3            1
1             1             2            0
2             2             2            0
3             3             2            0
4             4             0            1
..          ...           ...          ...
147         147             2            0
148         148             2            1
149         149             2            1
150         150             2            1
151         151             2            1

[152 rows x 3 columns]